<?xml version='1.0'?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="agv_base" >
  <link name='base_link'>
    <collision>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
	    <mesh filename="package://agv_description/meshes/Stl-22-06-2018/Sase_Taban.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>    
    <visual name='base_visual'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
	    <mesh filename="package://agv_description/meshes/Stl-22-06-2018/Sase_Taban.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <xacro:box_inertial x="1.17" y="0.56"  z="0.2" mass="1.0" />
  </link>
  <link name='bumper_back_link'>
	  <collision>
		  <origin xyz="0 0 0" rpy="0 0 -1.570796"/>
		  <geometry>
			  <!--<box size="0.8 0.05 0.06"/>-->
			<mesh filename="package://agv_description/meshes/Stl-22-06-2018/Bumper.stl" scale="0.001 0.001 0.001"/>			  
		  </geometry>
	  </collision>
    <visual>
      <origin xyz="0 0 0" rpy=" 0 0 -1.570796"/>
      <geometry>
	    <mesh filename="package://agv_description/meshes/Stl-22-06-2018/Bumper.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>	  
  </link>
  <joint name="bumper_back_base" type="fixed">
    <origin xyz="-0.63 0 0.017" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="bumper_back_link"/>
  </joint>
  <gazebo reference="bumper_back_link">
    <material value="Gazebo/DarkGrey"/>
  </gazebo>   
  <link name='bumper_front_link'>
	  <collision>
		  <origin xyz="0 0 0" rpy="0 0 1.570796"/>
		  <geometry>
	<!--		  <box size="0.8 0.05 0.06"/>-->
			<mesh filename="package://agv_description/meshes/Stl-22-06-2018/Bumper.stl" scale="0.001 0.001 0.001"/>			  			  
		  </geometry>
	  </collision>
    <visual>
      <origin xyz="0 0 0" rpy=" 0 0 1.570796"/>
      <geometry>
	    <mesh filename="package://agv_description/meshes/Stl-22-06-2018/Bumper.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>	  
  </link>
  <joint name="bumper_front_base" type="fixed">
    <origin xyz="0.63 0 0.017" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="bumper_front_link"/>
  </joint>  
  <gazebo reference="bumper_front_link">
    <material value="Gazebo/DarkGrey"/>
  </gazebo> 

    <!-- Joints plugin -->
  </xacro:macro>      
</robot>
